<footer class="container-fluid bg-light-pink p-5 mt-5">
	<div class="row m-3">
		<div class="col-md-2 fs-6">
			<h4 class="text-pink fs-6 pb-3">Contact Kiara Sky</h4>
			<p><small class="text-light-grey">Contact Us</small></p>
			<p><small class="text-light-grey">661-393-4800</small></p>
			<p><small class="text-light-grey">Carry Our Products</small></p>
			<p><small class="text-light-grey">Our Story</small></p>
		</div>
		<div class="col-md-2">
			<h4 class="text-pink fs-6 pb-3">Products</h4>
			<p><small class="text-light-grey">New Arrivals</small></p>
			<p><small class="text-light-grey">Shop Instagram</small></p>
			<p><small class="text-light-grey">Dip Powder</small></p>
			<p><small class="text-light-grey">Gelly Tips</small></p>
			<p><small class="text-light-grey">Beyond Pro</small></p>
			<p><small class="text-light-grey">Nail Art</small></p>
			<p><small class="text-light-grey">Back in Stock</small></p>
		</div>
		<div class="col-md-2">
			<h4 class="text-pink fs-6 pb-3">Warranty</h4>
			<p><small class="text-light-grey">Warranty Center</small></p>
			<p><small class="text-light-grey">Register Your Product</small></p>
			<p><small class="text-light-grey">File A Claim</small></p>
			<p><small class="text-light-grey">Repair Services</small></p>
		</div>
		<div class="col-md-2">
			<h4 class="text-pink fs-6 pb-3">Help</h4>
			<p><small class="text-light-grey">FAQ</small></p>
			<p><small class="text-light-grey">Learn</small></p>
			<p><small class="text-light-grey">News</small></p>
			<p><small class="text-light-grey">Shipping Policy</small></p>
			<p><small class="text-light-grey">Return Policy</small></p>
			<p><small class="text-light-grey">Patents</small></p>
			<p><small class="text-light-grey">Terms &amp; Conditions</small></p>
		</div>
		<div class="col-md-4">
			<div class="bg-medium-pink p-5">
				<h4 class="fs-6 text-pink mb-3">Keep in Touch</h4>
				<p class="fs-6 text-light-grey">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia fugit tenetur possimus nihil dignissimos quod optio sapiente, id beatae iste nisi maiores iusto illo eos ipsum ipsam laboriosam doloribus! Consequatur.
				</p>

				<p class="my-4">
					<small class="fs-6 text-light-grey">
						* Terms and conditions apply
					</small>
				</p>

				<button class="btn btn-pink">Subscribe</button>
			</div>
		</div>
	</div>
</footer>