<header class="container-fluid">
	<div class="row text-center bg-light">
		<span>Get 10% off</span>
	</div>

	<div class="row">
		<div class="d-flex justify-content-between">
			<p>one</p>
			<p>two</p>
			<p>three</p>
		</div>
	</div>

	<div class="row">
		<nav class="d-flex justify-content-center">
			<a href="">Shop</a>
			<a href="">Sale</a>
			<a href="">New Arrivals</a>
			<a href="">Learn</a>
		</nav>
	</div>
</header>