<header class="container-fluid">
	<div class="row text-center bg-pink text-uppercase">
		<span class="text-white">Get 10% off</span>
	</div>

	<div class="row mt-5">
		<div class="d-flex justify-content-center">
			{{!-- <p class="text-light-grey">USD</p> --}}
			<p class="text-pink fs-2">
				<a href="/">[LOGO HERE]</a>
			</p>
			{{!-- <p>[ICONS]</p> --}}
		</div>
	</div>

	<div class="row">
		<nav class="d-flex justify-content-center text-uppercase">
			<a class="text-dark-grey m-4" href="#">Shop</a>
			<a class="text-dark-grey m-4" href="#">Sale</a>
			<a class="text-dark-grey m-4" href="#">New Arrivals</a>
			<a class="text-dark-grey m-4" href="#">Learn</a>
		</nav>
	</div>
</header>