<div class="col-md-3 col-sm-6 text-center mb-3">
	<img class="w-100 img-fluid" src="https://placekitten.com/300/400" alt="" />

	<h3 class="fs-6 mt-3">{{this.product_name}}</h3>

	<p class="text-pink fs-6">${{this.price}} <span class="text-light-grey">SKU: HF125</span></p>

	<a href="/products/{{this.id}}" class="btn btn-pink text-uppercase">Add to cart</a>
</div>