{{> hero}}

<div class="row text-center">
	<h2>Our latest and greatest</h2>
</div>

<div class="row">
	<div class="col d-flex justify-content-center">
		<h3 class="active">
			New Arrivals
		</h3>
		
		<h3>
			Best Sellers
		</h3>
	</div>
</div>

<div class="row d-flex justify-content-center">
	<div class="col-5 text-center">
		<p>Stay ahead of the rest, get the new and now. Shop our newest arrivals.</p>
	</div>
</div>

<div id="new-arrivals" class="row">
	{{#each newArrivals}}
		<div class="col-md-3 col-sm-6">
		test
		</div>
	{{/each}}
</div>

<div id="best-sellers" class="row visually-hidden">
	{{#each bestSellers}}
	<div class="col-md-3 col-sm-6">
		test
	</div>
	{{/each}}
</div>